name: 'forex'
version: 0.0.1
description: A web app built using polymer.dart.
#author: Your Name <email@example.com>
#homepage: https://www.example.com

environment:
  sdk: '>=1.9.0 <2.0.0'

dependencies:
  browser: ^0.10.0
  polymer_elements: ^1.0.0-rc.8
  polymer: ^1.0.0-rc.15
  web_components: ^0.12.0
  mongo_dart: ^0.2.5+1
  rpc: "^0.5.0"
  http_server: "^0.9.5+1"
  dart_to_js_script_rewriter: "^1.0.1"
  intl: "^0.12.7"
transformers:
- polymer:
    entry_points: web/index.html
- dart_to_js_script_rewriter
- $dart2js:
    minify: true
    commandLineOptions:
    - --trust-type-annotations
    - --trust-primitives
